 *{
    box-sizing: border-box;
    /* font-family: ; */
 }

 html, body{
    margin: 0;
    padding: 0;
    size: cover;
} 

.container {
    display: flex;
    justify-content: center;
  }
/* .main-header nav{
    display: flex;
    align-items: center;
} */

.main-header {
    display: grid;
    place-items: center;
  }

.leiste {
    display: flex;
    align-items: center;
    width: min-content;

}

.Banner-main {
 
  /* width: max-content; */
  margin: 0; 
  padding: 0;
  max-width: 65%;
}

.nav ul{
    background-color: white;
    margin: 2;
    padding: 0;
}

.nav li {
    display: inline;
    margin: 0;
}

.nav .normalnav a, .nav .normalnav button {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;
    font-family: Candara;
    font-weight: bolder;
}

.main-nav .normalnav a:hover, .dropdown:hover{
    /* background-color: rgba(255,0,0,.4); */
    color: rgb(180, 8, 8);
}

.main-nav{
    text-align: right;
    font-size: 1.1em;
    font-weight: lighter;
    size: contain;
    width: 60em;
    /* border-bottom: 1px solid rgba(0,0,0,.7) */
}

.letztes-nav a{
    margin-right: 0em;
}
.main-nav .normalnav {
    padding:0 .5%;
    /* align-items: center; */
}


.icon {
    /* align-self: center;
    color: transparent;
    text-align: left;
    margin-left: 1em;
    padding: .5em;
    background:  url('images/LOGO.jpg') no-repeat;
    background-position: 7px left;
    background-size: contain; */
    display: inline-block;
    
    
}
 .icon a{
    /*text-decoration: none;*/
    color: transparent;
    padding: .5em;
    size: 3em;
 }
    /* text-align: left; */
    /*margin-left: 1em;
    
    background:  url('images/LOGO.jpg') no-repeat;
    background-position: 7px left;
    background-size: contain;
 }   

} */

/* .icon a:hover{
    color: rgba(0,0,0,0);
} */

.iconbox {
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0;
    text-align: left;

}
.iconbox ul{
    margin: 0 2em;
    padding: 0;
}
/* .Logo {
    margin:0px;
    margin-right:9em;
    padding: 0em;
    height: 50px;
    
} */
/* .navbar {
    margin: 0;
    padding: 0;
} */



.content-section {
    padding:1em;
    background-color: rgb(255, 255, 255);
}

/* .container {
    max-width: 900px;
} */



.main-footer{
    background-color: rgb(200,0,0);
    color: white;
    padding: 0.01em 0;
}

.main-footer-container{
    padding: 0.01em;
    display: flex;
    align-items: center;
    text-align: center;
}


.nav-bottom li {
    display: inline;
}


.nav-bottom ul{
    background-color: rgb(200,0,0);
    text-align: right;
    align-items: center;
    font-size: larger;
}


.nav-bottom a:hover {
    text-decoration: underline;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* text-align: right; */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown li {
    display: block;
  }
  
















.Hauptteil {
    display: flex;
   width: 1200px;
   align-self: auto;

   /* background-blend-mode: lighten; */
    font-family: Candara;
    background-size:cover;
    opacity: 1;
    position: relative;
    

}
.background-for-main {

    background-image: url("Images/background-2.png");
    background-size:cover;
    position: absolute;
    width: 1200px;
    height: 500px;
    opacity: .3;
    z-index: 9;
    color: rgba(0,0,0,0);

}


.Hauptteil .content {
    padding: 1em;
    margin-left: 2em;
    min-height: 470px;
    width: 70%;
    color: black;
    font-family: "Lucida Sans";
    
    /* -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black; */
}

.Hauptteil .content p {
    line-height: 150%;
}

.Hauptteil h1 {
    font-size: 2.5em; /* Increase the font size to 3em */
    font-weight: bold; /* Make the font bold */
    margin: .5em 0;
    text-transform: uppercase; /* Convert the text to uppercase */
    font-family: Impact;
}

.Hauptteil h2{
    text-align: center;
    font-size: 2em;
    font-family: Candara;
}

.Hauptteil .content img {
    text-align: center;
}


.Hauptteil .content .Artikel{
    font-size: 1.03em;
    /* border-top: 1px;
    border-top: solid; */
    max-width: 1000%;

}
.Hauptteil .content .Artikel-Foto{
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding:2em;*/
    margin: 1em 2em;
    
}

.Hauptteil .content .Artikel-Foto img{
    border-radius: 2%;
}

.Hauptteil .content .Home-foto {
    margin: 0 3em;
    margin-bottom: 3em;
    width:100%;
    height:70%;  
}


.Hauptteil .content p .bild-impressum{
    text-align: center;
    padding: 2em;
    padding-left: 30%;

}



.Hauptteil .content .Training{
    padding-left: 2em;
}

.Hauptteil .content .Training h3 {
    margin-top: 0em;
    font-size: 2.5em;
    font-family: Impact;
}

.Hauptteil .content .Training p {
    font-family: 'Courier New', Courier, monospace;
}




.Hauptteil .Termin {
border-top: 1px;
border-top: solid;
}

.Hauptteil .Termin p{
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
}

.Hauptteil .Termin p strong{
    font-weight: bold;
}

.Hauptteil .Mannschaft {
    border-top: 1px;
    border-top: solid;
}

.Hauptteil .Mannschaft p{
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
}

.Hauptteil .Mannschaft p strong {
    font-weight:100;
    text-decoration: underline;
}

.Hauptteil .Mitglied {
    border-top: 1px;
    border-top: solid;
    padding-bottom: 1em;
}

/* .Hauptteil .Mitglied p{
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
} */

/* .Hauptteil .Mitglied p strong {
    font-weight:100;
    text-decoration: underline;
} */

/* td {
    padding: 10px;
}

th, td {
    color: #333;
    font-size: 14px;
  font-family: Arial, sans-serif;
  }

  table {
    margin-left: 2em;
    border: 1px solid #ccc;

  } */

  #dwz-liste
  {
      width    : 100%;
      height   : 2160px;
      overflow : hidden;
      position : relative;
      margin-bottom:3em;
  }
  
  #dwz-liste-i
  {
      position : absolute;
      top      : -750px;
      left     : -50px;
      width    : 1280px;
      height   : 12000px;
  }

  .Quelle {
    margin-left: 3em;
    font-family: Calibri;
  }


.Schulschach-content {
    max-width: 60%;
}

.Mitglied .Bronze {
    color: rgb(191, 137, 112);
}

.Mitglied .Silber {
    color: rgb(192, 192, 192);
}

.Mitglied .Gold {
    color: rgb(255, 215, 0);
}







#sidebar{
    padding:2em;
    padding-right: 0em;
    margin-right: 1em;
    width: 30%;
    font-family: Calibri;
    /* background-image: url("Images/background-2.png");
    background-size:cover; */
}

.sidebar {
    padding: 1em;
    margin: 0 2em;
    width: 20em;
    

    
}

.Beitrag-neu {
    margin-top: 0em;
    margin-bottom: 2em;
    padding: 0 1em;
    text-decoration: none;
    color: black;
    outline-color: rgb(216, 221, 210);
    outline-width: 1px;
    outline-style: solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 7%;
}

.Beitrag-neu:hover {
    margin-top: 0em;
    margin-bottom: 2em;
    padding: 0 1em;
    text-decoration: none;
    color: black;
    outline-color: rgb(165, 0, 0);
    background-color: rgb(255, 165, 165);
    outline-width: 1px;
    outline-style: solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 13%;
}

.Beitrag-neu-innen{
    margin-left: 2em;
    padding: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}

.Beitrag-neu-innen h3 {
    margin-top: 0;
    text-align: center;
}

.Beitrag-neu-innen p {
    margin-bottom: 0;
}

.Weiterlesen {
    color: blue;
}

.Weiterlesen:hover {
    text-decoration: underline;
}

.Beitrag-neu-hintergrund{
    width:100%;
}

@media screen and (max-width: 768px) { /* Use a media query to adjust the layout for small screens */
    .Hauptteil .content, .Hauptteil #sidebar {
        width: 100%; /* Set the width of both elements to 100% for small screens */
    }
}